<body>
          <div class = "container">
              <h3>Record Exercise</h3>
              <div class="row">
                  <div class="col-md-6">
                      <div class="card" >
                          <div class="card-header">
                              Exercises
                          </div>
                          <div class="card-body">
                              <ul class="list-group list-group-flush" id="exercises"></ul>
                          </div>
                      </div>
              </div>
  
                  <div class="col-md-6">
                      <div class="card" >
                              <div class="card-header">
                                      Completed
                              </div>
                              <ul class="list-group list-group-flush" id="my-exercises">
                                  <li class="list-group-item" id="default-message">Get To Work!!!!!</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
      </body>
  